.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  /* banner styles */
  
.banner{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 10px;
}


.banner-content{
    max-width: 50%;
}

.banner-content h3{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 0;
}

.banner-content h1{
    font-size: 50px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-top: 0;
}


/* button style */


button{
    background-color: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


button:hover{
    background-color: rgb(140, 248, 140);
}



/* vision */

.cards h1{
    text-align: left;
    margin-left: 5px;
    margin-bottom: 0;
}

.cards p{
    text-align: left;
    margin-left: 5px;
}

.card{
    border-radius: 8px;
    text-align: justify;
    width: 410px;
    height: 325px;
    border: 1px solid white;
    padding: 20px;
    margin: 2px;
}

.digital-card{
    background-color: rgba(84, 144, 245, 0.2);
}

.green-card{
    background-color: rgba(198, 228, 214, 1);
}

.modern-card{
    background-color: rgba(247, 235, 207, 1);
}

.card-container{
    display: flex;
    justify-content: flex-start;
}

.btn-1{
    background-color: rgba(84, 144, 245, 1);
}

.btn-1:hover{
    background-color: rgb(0, 62, 154);
}

.btn-2{
    background-color: rgba(9, 161, 92, 1);
}

.btn-2:hover{
    background-color: rgb(0, 89, 30);
}

.btn-3{
    background-color: rgba(255, 194, 57, 1);
}

.btn-3:hover{
    background-color: rgb(223, 164, 0);
}