.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  body{
    background-color: rgba(241, 241, 243, 1);
  }


  /* banner styles */
  
.banner{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 10px;
}


.banner-content{
    max-width: 50%;
}

.banner-content h3{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 0;
}

.banner-content h1{
    font-size: 50px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-top: 0;
}


/* button style */


button{
    background-color: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


button:hover{
    background-color: rgb(2, 80, 2);
}



/* vision */

.cards h1{
    text-align: left;
    margin-left: 5px;
    margin-bottom: 0;
}

.cards p{
    text-align: left;
    margin-left: 5px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.card{
    border-radius: 8px;
    text-align: left;
    width: 410px;
    height: 325px;
    border: 1px;
    padding: 32px;
    margin: auto;
    gap: 20px;
}

.digital-card{
    background-color: rgba(84, 144, 245, 0.2);
}

.green-card{
    background-color: rgba(198, 228, 214, 1);
}

.modern-card{
    background-color: rgba(247, 235, 207, 1);
}

.card-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.btn-1{
    background-color: rgba(84, 144, 245, 1);
}

.btn-1:hover{
    background-color: rgb(0, 62, 154);
}

.btn-2{
    background-color: rgba(9, 161, 92, 1);
}

.btn-2:hover{
    background-color: rgb(0, 89, 30);
}

.btn-3{
    background-color: rgba(255, 194, 57, 1);
}

.btn-3:hover{
    background-color: rgb(223, 164, 0);
}



/* recent news styles */

.news-1{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.card-image1{
    border-radius: 10px;
}

.news-1-right{
    margin-left: 10px;
}

.news-2{
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: 24px;
}

.card-image2{
    border-radius: 10px;
}
/* donate style */

.donate-today{
    text-align: center;
    padding: 50px 20px;
}

.donation-options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.donation-options button{
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    width: 240px;
    height: 128px;
    border: 1px rgb(46, 46, 46);
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(192, 192, 192);
    color: black;
}

.donation-options button.active{
    background-color: rgba(198, 228, 214, 1);
    border-color: azure;
    color: black;
}

.donation-options button:hover{
    background-color: rgba(198, 228, 214, 1);
}

.other-amount{
    margin-bottom: 20px;
}

.other-amount input{
    width: 100%;
    padding: 10px;
    text-align: center;
}


/* newsletter styles */

.newsletter-container{
    text-align: center;
    padding: 40px 20px;
    border-radius: 15px;
    width: 100%;
    background-color: rgba(198, 228, 214, 1);
}

.newsletter-form{
    display: flex;
    justify-content: center;
    gap: 0;
}

.newsletter-input{
    width: 70%;
    padding: 10px;
    border: 1px;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.newsletter-button{
    padding: 10px 20px;
    border-radius: 0 4px 4px 0;

}